body {
    background-color: #202b38;
    color: white;
    display: block;
    text-align: center;
    font-family: Tahoma, sans-serif;
    width: 60%;
    margin: auto;
}

header, main {
    background: linear-gradient(
        #202b38,
        #161f27
    );
    margin: 2em auto;
    border: 2px solid white;
    padding: 1em;
}

footer {
    font-style: italic;
    font-size: smaller;
}

a {
    color: white;
    font-style: normal;
}

a:hover {
    color: gray;
}

.profileImage {
    max-height: 150px;
    max-width: 150px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

fieldset {
    display: block;
    margin: 2em auto;
    border: 0;
    border-bottom: 2px solid white;
    width: 60%;
    max-width: 500px;
    padding: 2em;
}

label {
    display: block;
    text-align: auto;
    padding-top: 10px;
    font-size: 16px;
}

.submit {
    margin: 10px;
}